<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>WEB322 Kritika Kritika Blog</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
           
            <div class="navbar-header">
                <!-- Navigation menu toggle button for small screens -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Brand/logo of the website -->
                <span class="navbar-brand" href="#">WEB322 - Student Name</span>
            </div>

            <!-- Navigation menu items -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                </ul>

                <!-- User registration and login buttons -->
                <form class="navbar-form navbar-right">
                    <a href="/register" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
                    <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Main content area -->
    <div class="container" style="padding-top:60px">
        <div class="row">
            <!-- Main content section -->
            <section class="main col-md-9">
                <article>
                    <h2>asdsa</h2>
                    <img src="https://cdn.ttgtmedia.com/rms/onlineimages/what_is_a_blog_used_for-f_mobile.png" alt="feature Image" style="width:100%" />
                    <br /><br />
                    asdasd
                    <br /><br />
                    <strong>Category:</strong> 232<br />
                    <strong>Last Updated:</strong> 2023-08-06
                </article>
            </section>

            <!-- Sidebar section -->
            <aside class="col-md-3">
                <br /><br />
                <h4>Posts</h4>
                <ul class="list-group">
                    <a href="/blog/270?category=" class="list-group-item">asdsa</a> 
                    <a href="/blog/269?category=" class="list-group-item">as</a> 
                </ul>

                <h4>Categories</h4>
                <ul class="list-group">
                    <a href="/blog?category=232" class="list-group-item">cars</a>
                </ul>
            </aside>
        </div>
    </div>

    <!-- JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>

</html>
