<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>Post Title</h2>
            <img src="https://dummyimage.com/847x320/d9d9d9/545454.jpg" alt="feature Image" style="width:100%" />
            <br /><br />
            Nulla semper tellus id feature Image<br /><br />
            ipsum dolor sit amet, consectetuer adipiscing elit. Etiam laoreet, libero et tristique pellentesque, tellus sem mollis dui, in sodales elit erat vitae risus. Duis a mi fringilla mi lacinia mattis. Integer eu lacus. Quisque imperdiet, erat nonummy ultricies ornare, elit elit fermentum risus, at fringilla purus mauris a nunc. In at pede. Cras vulputate velit eu sem. Pellentesque ut ipsum ac mi eleifend egestas. Sed pharetra, felis eget<br /><br />
            <strong>Category:</strong> 4<br />
            <strong>Last Updated:</strong> 2020-12-26

        </article>
    </section>
    <aside class="col-md-3">
        <br /><br />
        <h4>Posts</h4>

        <ul class="list-group">
            <a href="#" class="list-group-item">Post 1</a>
            <a href="#" class="list-group-item">Post 2</a>
            <a href="#" class="list-group-item">etc...</a>
        </ul>

        <h4>Categories</h4>

        <ul class="list-group">
           <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">etc...</a>
        </ul>
    </aside>
</div>
