<!DOCTYPE html>
<html>
<head>
    <title>All Categories</title>
</head>
<body>
    <h2>All Categories</h2>
    {{#if categories.length}}
        <ul>
            {{#each categories}}
                <li>{{this.category}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No categories available.</p>
    {{/if}}
</body>
</html>
