<div class="row">
  <div class="col-md-12">
    <h2>Posts</h2>
    <hr />

    {{#if posts.length}}
    <table>
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {{#each posts}}
        <tr>
          <td>{{this.title}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>No results</p>
    {{/if}}

  </div>
</div>
